#top
{
  width: 98.8vw;
  height: 50vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

#top h2
{
  color: #D1D1D1;
  /* color: white; */
  font-family: 'Open Sans';
  z-index: 1;
  position: relative;
  font: 5vw;
  top: 20vh;
  margin: 0vw 0vw 0vw 10vw;
  overflow: hidden;
  /* border: 2px solid #D89790; */
}
#top img
{
  width: 130vw;
  /* height: 100vh; */
  position: relative;
  bottom: 120px;
  right: 100px;
}

body
{
  background-color: #EDE2C7;
  padding: 0px;
  margin: 0px;
}
#date
{
  color: #6F5592;
  font-size: 70px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
/* #icon
{
  display: flex;
  border: 1px solid black;
  margin: 10vw;
} */
button
{
  display: inline-block;
  width: 100px;
  height: 45px;
  padding: 10px;
  background: #fff;
  border: 3px solid #6F5592;
  border-radius: 7px;
  color: #6F5592;
  text-align: center;
  font: 12px 'Open Sans', serif;
  margin: 2vw 2vw;
  margin-top: 2.5vw;
}
button:visited
{
  border: solid #D1D1D1 3px;
  background-color: #DE6052;
  color: #D1D1D1;
}
button:active
{
  border: solid #D1D1D1 3px;
  background-color: #DE6052;
  color: #D1D1D1;
}
button:hover
{
  border: solid #6F5592 3px;
  background-color: #6F5592;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 70px;
}

#flex, #flex2, #flex3
{
  display: flex;
  margin: 1vw 10vw;
}
.flexitem
{
  flex-grow: 7;
}
.flexitem2
{
  flex-grow: 0.5;
}

.classes
{
  color: #E8E7E7;
  background-color: #D89790;
  border: solid #6F5592 2px;
  border-radius: 5px;
  margin: 0.5vw 10vw;
  padding: 1em;
}
.studies
{
  color: #6F5592;
  background-color: #ECD8A4;
  border: solid #6F5592 2px;
  border-radius: 5px;
  margin: 0.5vw 10vw;
  padding: 1vw 1vw;
  height: 15vh;
}
.free
{
  color: #6F5592;
  background-color: #E8E7E7;
  border: solid #6F5592 2px;
  border-radius: 5px;
  margin: 0.5vw 10vw;
  /* margin-left: 1vw; */
  padding: 0.5em;
}
.bottom
{
  color:#6F5592;
  font-family: "Open Sans", serif;
  font-size: 30px;
  margin: 200vw;
  padding: 7vw;
}
.part1
{
  flex-grow: 8;
}
.part2
{
  flex-grow: 1;
}
