section{
  display:grid;
  /* information about a column */
  grid-template-columns: repeat(2, 1fr);
  /* information about the row, each grid is view height */
  grid-row-auto: 50vh;
  border: 3px pink solid;
  column-gap: 50px; 
}
div{
  border: 5px green dotted;
  padding: 50px;
}
