#top h1
{
  z-index: 1;
  position: relative;
  font-family: 'Poppins';
  font-size: 30px;
  color: #D1D1D1;
  top: 15vh;
  margin: 0 0 0 1vw;
}

#header
{
  width: 100vw !important;
  position: relative;
  margin: -30px !important;
  padding: 0px;
  bottom: 40px;
  right: 40px;
  /* max-height: 30vh; */
  aspect ratio: 1;
  overflow: hidden;
}
h1.header1
{
  font-size: 30px;
  font-family: 'Poppins';
}
h2.header2
{
  font-size: 28px;
  font-family: 'Poppins';
  font-weight: 640;
  /* font-weight: bold; */
  color: white;
  background-color: #DE6052;
  /* border: solid 10px #DE6052; */
  background-size: contain;
  /* proportional padding from the edge of the margin */
  padding: 0.5em;
}
h3.header3
{
  font-size: 26px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #DE6052;
}
h4.header4
{
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 500;
}
#grey
{
    border: solid #E8E7E7 5px;
    background-color: solid #E8E7E7 5px;
}
#thin
{
  border: solid #E8E7E7 2px;
  background-color: solid #E8E7E7 2px;
}
hr
{
  border: solid #ECD8A4 5px;
  background-color: #ECD8A4;
}
#top img
{
 width: 30vw;
 /* height: 70vh; */
 margin: 10px;
}
#assignments
{
  background-color: #EDE2C7;
  padding: 0.75em;
}
body
{
    font-family: garamond;
    margin: 30px;
}
p.background
{
  background-color: #E8E7E7;
  padding: 50px;
}
/* #ridge
{
  border: ridge rgb(236,216,164) 2px;
} */
#goals
{
  border: solid 5px #DE6052;
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 1.5em;
}
#assignments img
{
  width: 15vw;
  margin: 2px;
}
#assignments ol
{
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 500;
}
button
{
  font-size: 14px;
  font-family: 'Poppins';
  /* border: solid #ECD8A4 3px;  */
  border: solid #D1D1D1 3px;
  border-radius: 15px;
  font-size: 16px;
  color: #ECD8A4;
  background-color: white;
}
/* link img
{
  width: 5vw;
  margin: 1px;
} */
button:visited
{
  border: solid #D1D1D1 3px;
  background-color: #DE6052;
  color: #D1D1D1;
}
button:active
{
  border: solid #D1D1D1 3px;
  background-color: #DE6052;
  color: #D1D1D1;
}
button:hover
{
  border: solid #ECD8A4 3px;
  background-color: #DE6052;
  color: white;
}
/* #link
{
  color: white;
} */
/* #lab3 img
{
  width: 15vw;
  margin: 2px;
} */
#end
{
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: lighter;
}
a:visited
{
  color: #DE6052;
  /* color: #ECD8A4; */
}
a:hover
{
  color: #D89790;
}
