#top h1
{
  margin: 5vw 30vw;
  font-size: 60px;
}
#header
{
  /* color: #EDE2C7; */
  border: solid #FDEBE7 5px;
  background-color: #FDEBE7;
}
#verses
{
  background-color: #EDE2C7;
  margin: 5vh 30vw;
  /* padding: left and right, top and bottom */
  padding: 10vh 10vw 10vh 10vw;
  border: solid #3684a3 5px;
  border-radius: 10px;
}
#studyVC
{
  display: flex;
  margin: 1vw;
  padding: 0.5vw;
}
#VCterms
{
  background-color: #9ac5d6;
  margin: 5vh 3vw;
  /* padding: left and right, top and bottom */
  padding: 5vw 10vw;
  border-radius: 10px;
}
#VCanswers
{
  background-color: #9ac5d6;
  margin: 5vh 3vw;
  /* padding: left and right, top and bottom */
  padding: 5vw 10vw ;
  border-radius: 10px;
}
body
{
  background-color: #EDE2C7;
}

button
{
  border-radius: 8px;
  padding: 1vh 3vw;
  /* float things to a certain position on your page. only works with blocks */
  float: right;
  margin-top: 1vh;
  background-color: #37414f;
  color: #e1e7f0;
  font-family: "Open Sans";
}
button:hover
{
  border: #e1e7f0 solid 2px;
}
button:active
{
  color: #bec0c2;
}
a:link
{
  color: #3684A3;
  /* font-family: 'Poppins'; */
}
a:visited
{
  color: #3684A3;
  /* color: #ECD8A4; */
}
a:hover
{
  color: #D89790;
  /* resources: utilized website to create a shadow to the "back to calendar" and "back to top" links
  https://www.codesdope.com/blog/article/adding-outline-to-text-using-css/ */
  text-shadow: -2px 2px 2px #BEC0C2;
}
h1
{
  color: #3684a3;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 50px;
  margin: 10vw;
}
h2
{
  color: #474641;
  font-family: "EB Garamond";
  font-weight: 200;
}
h3
{
  color: #3684a3;
  font-family: "Open Sans";
  font-weight: 100px;
  font-size: 20px;
  margin: 0vw 10vw 0vw 10vw;
  margin-top: 7vw;
}
#flex
{
  display: flex;
  margin: 3vw 15vw;
}
#flex3
{
  display: flex;
  margin: 3vw 32vw;
}
img
{
  width: 7vw;
  margin: 5vw 5vh 5vw 5vh;
}
div
{
  /* border: 1px solid #EDE2C7; */
  /* margin-left: 1.5vw; */
}
/* how to identify a class, everything in the class will have the same characteristics */
/* can put icons, images, quotes */
.flexVC
{
  flex-grow: 1;
}
.flexVC2
{
  flex-grow: 1;
  /* border: 1px solid black; */
}
#flexitem
{
  flex-grow: 1;
  margin: 0vw 5vw;
}
#flexitem2
{
  flex-grow: 1;
}
#flexitem3
{
  flex-grow: 1;
}

.bottom
{
  color:#3684a3;
  font-family: "Open Sans", serif;
  font-size: 30px;
  margin: 2vw;
  padding: 2vw;
}
.part1
{
  flex-grow: 1;
  font-size: 22px;
}
.part2
{
  flex-grow: 1;
  font-size: 22px;
}
#bottomH
{
  color: #37414F;
  margin: 10vw 4vw 0vw 42vw;
  padding-bottom: 0;
  font-size: 50px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
