#topline
{
  border: 7px solid #6F5592;
}
#bottomline
{
  border: 2px solid #6F5592;
}
h1
{
  color: #6F5592;
  font-family: 'Open Sans', sans-serif;
  font-weight: 50px;
  font-size: 50px;
  margin-left: 37vw;
}
h2
{
  margin-top: 35px;
  padding-bottom: 0;
  font-size: 1.8em;
  /* render an item or not */
  /* display: none;  */
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
}
h3
{
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
#tabs
{
  display: flex;
  margin: 10vh 10vw 0 10vw;
  color: #6F5592;
}
#dishes
{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  /* padding-top: 80px; */
  border: 2px solid #D89790;
  border-top: none;
}
.restaurants
{
  flex-grow: 1;
  width: auto;
  max-width: 50%;
  background-color: #EDE2C7;
  /* border: 1px solid black;  */
}
.meal
{
  flex-grow: 1;
  width: auto;
  border: 2px solid #D89790;
  background-color: #EAECEF;
}
#lunchfoods, #dinnerfoods, #desserts
{
  display: none;
  color: #D89790;
}
.active
{
  background-color: #EDE2C7;
  border-bottom: none;
}
img
{
  max-height: 50%;
  width: 80%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-top: 5vw;
}

#image, .menu
{
  flex-grow: 1;
  width: auto;
  max-width: 50%;
  background-color: #EDE2C7;
}
a:link
{
  color: #6F5592;
  /* font-family: 'Poppins'; */
}
a:visited
{
  color: #6F5592;
  /* color: #ECD8A4; */
}
a:hover
{
  color: #D89790;
}
body
{
  background-color: #D1D1D1;
}
ul
{
  font-family: "EB Garamond", serif;
  color: #6F5592;
  margin: 2vw;
}
#flex3
{
  display: flex;
  margin: 3vw 20vw;
}
.bottom
{
  color: #3684a3;
  font-family: "Open Sans", serif;
  font-size: 30px;
  margin: 20vw;
  padding: 7vw;
}
.part1
{
  flex-grow: 1;
}
.part2
{
  flex-grow: 1;
}

#togo, #home, #restaurants
{
  /* margin: 1vw; */
  padding: 1vw;
}
