h1
{
  color: #6F5592;
  font-family: 'Open Sans', sans-serif;
  font-weight: 50px;
  font-size: 50px;
  margin-left: 37vw;
}
body
{
  background-color: #EDE2C7;
}
#date
{
  color: #6F5592;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  margin: 10vw;
}
#calendarH
{
  color: #6F5592;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
}
#calendar
{
  margin: 10vw;
}
button
{
  display: inline-block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 10px;
  background: #fff;
  border: 3px solid #6F5592;
  color: #6F5592;
  text-align: center;
  font: 30px 'Open Sans', serif;
  margin: 2vw 2vw;
}
button:visited
{
  border: solid #D1D1D1 3px;
  background-color: #DE6052;
  color: #D1D1D1;
}
button:active
{
  border: solid #D1D1D1 3px;
  background-color: #DE6052;
  color: #D1D1D1;
}
button:hover
{
  border: solid #6F5592 3px;
  background-color: #D89790;
  color: white;
}
/* div
{
  margin-left: 10px;
  margin-bottom: 5px;
} */
.classes
{
  color: #6F5592;
  background-color: #D89790;
  border: solid #6F5592 2px;
  border-radius: 5px;
  margin: 1vw 10vw;
  padding: 1em;
}
.studies
{
  color: #6F5592;
  background-color: #ECD8A4;
  border: solid #6F5592 2px;
  border-radius: 5px;
  margin: 1vw 10vw;
  padding: 1vw 1vw;
  height: 10vh;
}
.free
{
  color: #6F5592;
  background-color: #E8E7E7;
  border: solid #6F5592 2px;
  border-radius: 5px;
  margin: 1vw 10vw;
  padding: 1em;
}
