h1 {
  font-size: 50 px;
}

/* call an id */
#top {
  background-color: yellow;
  font-family: helvetica;
}
/* these are called selectors */
#top h1 {
  color: blue;
  border: solid 15px white;
  border-radius: 10px;
}
#input {
  background-color: red;
}
#input h1 {
  color: black;
}
body {
  background-color: rgb(30,100,0);
}
/* you can change ul to be body so you can just style your body */
ul {
  /* name of attribute want to change */
  color: red;
  /* can have different types of fonts */
  /* font-family: garamond; */
  font-weight: 900;
}

img {
  width: 20vw;
  /* give breathing room for images */
  margin: 10 px;
}
form {
  margin-left: 20px;
  /* font size is responsive which would be helpful for desktop vs. mobile applications*/
  /* vw: view width */
  /* vh: view height */
  font-size: 3vw;

}
button {
  color: blue;
}
